/* Overlay */
.overlay-enter-active, .overlay-leave-active {
  opacity: 1;
}

.overlay-enter, .overlay-leave-to {
  opacity: 0;
}

/* Page */
.slide-bottom-enter-active,
.slide-bottom-leave-active {
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}
.slide-bottom-enter,
.slide-bottom-leave-to {
  opacity: 0;
  transform: translate3d(0, 1rem, 0);
}
