html {
  @include size(100%);
  overflow: hidden;
}

body {
  @include size(100%);
  @extend %changeTapBck;
  overflow: hidden;
  background: $white;
  font-family: $font-family;
  font-weight: $normal;
  color: $color-6;
  -webkit-font-smoothing: antialiased;
  &.public {
    background: $color-1;
  }
}

*:focus {
  outline: none;
}

.yamicons {
  line-height: 1;
  display: block;
  &:before {
    font-size: $font-icons-size;
    color: $color-6;
  }
  &.small {
    &:before {
      font-size: $font-icons-size-small;
    }
  }
  &.medium {
    &:before {
      font-size: $font-icons-size-medium;
    }
  }
  &.selected {
    &:before {
      color: $primary;
    }
  }
}

ul {
  list-style: none;
  margin-block: 0;
  padding-inline: 0;
  &.inline {
    @extend %flex;
  }
}

.container-scroller-overlay {
  @include size(calc(100% - 2rem), calc(30rem - 4.5rem));
  @include padding(null 1rem 1rem);
  @extend %flex;
  flex-direction: column;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}

.flex {
  @extend %flex;
}

.flex-center {
  @extend %flex;
  @extend %flexCenter;
}

.flex-around {
  @extend %flex;
  @extend %flexSpaceAround;
}

.flex-between {
  @extend %flex;
  @extend %flexSpaceBetween;
}

.flex-without-align {
  @extend %basicFlex;
  @extend %flexSpaceBetween;
}

.center {
  text-align: center;
}

.wrapper-page {
  @include size(100%, calc(100vh - 3.5rem));
  overflow: hidden;
  .main {
    @include size(100%, calc(100vh - 6.8rem));
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    .wrapper-help {
      @extend %styleHelp;
    }
  }
  article {
    @include padding(null 1rem);
    &.wrapper-tabs-form {
      .container-btn {
        justify-content: flex-end;
      }
      .text-inner {
        @include padding(1rem null);
      }
    }
    ul {
      &.custom-tabs {
        li {
          @include size(100%, auto);
          border-bottom: $border-base-tab;
          &.active {
            border-bottom: $border-base-tab-active;
          }
          &.disabled {
            border-bottom: $border-base-tab;
          }
        }
      }
    }
  }
}

@import "common/typography";
@import "components/inputs";
@import "components/buttons";
@import "components/radio";
