html {
  @include size(100%);
  overflow: hidden;
}

body {
  @include size(100%);
  @extend %changeTapBck;
  overflow: hidden;
  background: $color-1;
  font-family: $font-family;
  font-weight: $normal;
  color: $color-6;
  -webkit-font-smoothing: antialiased;
}

*:focus {
  outline: none;
}

.yamicons {
  line-height: 1;
  display: block;
  &:before {
    font-size: $font-icons-size;
    color: $color-6;
  }
  &.small {
    &:before {
      font-size: $font-icons-size-small;
    }
  }
  &.selected {
    &:before {
      color: $primary;
    }
  }
}

ul {
  list-style: none;
  margin-block: 0;
  padding-inline: 0;
  &.inline {
    @extend %flex;
  }
}

.container-scroller-overlay {
  @include size(calc(100% - 2rem), calc(30rem - 4.5rem));
  @include padding(null 1rem 1rem);
  @extend %flex;
  flex-direction: column;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

.flex-center {
  @extend %flex;
  @extend %flexCenter;
}

.flex-around {
  @extend %flex;
  @extend %flexSpaceAround;
}

.flex-between {
  @extend %flex;
  @extend %flexSpaceBetween;
}

.center {
  text-align: center;
}

@import "common/typography";
@import "components/inputs";
@import "components/buttons";
@import "components/radio";
