.container-app-offline {
  @extend %flex;
  @extend %flexCenter;
  @include size(auto, calc(100vh - 7.5rem));
  overflow: hidden;
  .offline {
    @include size(calc(100% - 3rem), fit-content);
    background: linear-gradient(to right, $primary, darken($primary, 6));
    border-radius: $rounded;
    transform: rotate(-6deg);
    @include themed() {
      box-shadow: 0 0.7rem 1rem -0.2rem t($key-color-2), 0 0.25rem 0.4rem -0.13rem $color-8;
    }
    .inner-offline {
      @include padding(2rem 1rem);
      @include themed() {
        background: t($key-color-0);
        box-shadow: 0 0.7rem 1rem -0.2rem $color-8, 0 0.25rem 0.4rem -0.13rem t($key-color-1);
      }
      border-radius: $rounded;
      transform: rotate(6deg);
      h2 {
        @extend %h2;
        @include margin(null null 1rem null)
      }
    }
    .wrapper-button {
      text-align: center;
      @include margin(1rem null null);
      p {
        @include margin(1rem null null);
        text-align: center;
      }
    }
    &.loading {
      .inner-offline {
        @extend %flex;
        @extend %flexCenter;
        height: 15rem;
      }
    }
  }
}

.footer-offline {
  @extend %flex;
  @extend %flexCenter;
  @include size(100%, 2.5rem);
  span {
    text-decoration: underline;
  }
  .yamicons {
    @include margin(null null null 0.2rem);
  }
}
