%h1 {
  @include font-size(26px, 1);
  @include margin(0);
  font-family: $font-family-special;
  font-weight: $normal;
  margin-block: 0;
}

%h2 {
  @include font-size(16px, 1);
  font-weight: $medium;
  margin-block: 0;
}

%h3 {
  @include font-size(14px, 1);
  margin-block: 0;
}

%h4 {
  @include font-size(12px, 1);
  font-weight: $semi-bold;
  margin-block: 0;
}

%h5 {
  @include font-size(12px, 1);
  margin-block: 0;
}

%p {
  @include font-size(12px, 1);
  margin-block: 0;
}

%small {
  @include font-size(10px, 1);
}

%strong {
  font-weight: $medium;
}

%link {
  @include font-size(12px, 1);
  color: $color-8;
}

%notify {
  @include font-size(10px, 1);
}

%btn {
  @extend %strong;
  @include size(auto, 40px);
  border: $border-base;
  background: $primary;
  border-radius: 5px;
  align-items: center;
  display: flex;
  min-width: 100px;
  color: $white;
}

%changeTapBck {
  -webkit-tap-highlight-color: rgba(0, 166, 118, 0.1);
}

%flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
