%h1 {
  @include font-size(26px, 1);
  @include margin(0);
  font-family: $font-family-special;
  font-weight: $normal;
  margin-block: 0;
}

%h2 {
  @include font-size(16px, 1);
  font-weight: $medium;
  margin-block: 0;
}

%h3 {
  @include font-size(14px, 1);
  margin-block: 0;
}

%h4 {
  @include font-size(12px, 1);
  font-weight: $semi-bold;
  margin-block: 0;
}

%h5 {
  @include font-size(12px, 1);
  margin-block: 0;
}

%p {
  @include font-size(12px, 1);
  margin-block: 0;
}

%small {
  @include font-size(10px, 1);
}

%medium {
  @include font-size(14px, 1);
}

%strong {
  font-weight: $medium;
}

%link {
  @include font-size(12px, 1);
  @include themed() {
    color: t($key-color-6);
  }
}

%notify {
  @include font-size(9px, 1);
}

%btn {
  @include size(auto, 2.6rem);
  @extend %strong;
  @extend %flex;
  border: $border-base;
  border-color: $primary;
  background: $primary;
  border-radius: $rounded-small;
  color: $white;
  min-width: 6rem;
}

%changeTapBck {
  -webkit-tap-highlight-color: rgba(0, 166, 118, 0.1);
}

%basicFlex {
  display: flex;
}

%flex {
  @extend %basicFlex;
  align-items: center;
}

%flexCenter {
  justify-content: center;
}

%flexSpaceAround {
  justify-content: space-around;
}

%flexSpaceBetween {
  justify-content: space-between;
}

%flexEnd {
  justify-content: flex-end;
}

%flexStart {
  justify-content: flex-start;
}

%borderBottom {
  @include margin(null null 0.8rem);
  @include padding(null null 0.8rem);
  border-bottom: $border-base;
  p {
    &.small {
      @include margin(null null 0.3rem);
    }
  }
}

%styleHelp {
  ul {
    @include margin(null null 1rem);
    &.release {
      @include margin(0);
      li {
        p {
          @include margin(0.3rem null 0);
        }
      }
    }
    &.with-icon {
      li {
        @include margin(null null 0.4rem);
        p {
          @include margin(0);
        }
      }
    }
    li {
      @extend %flex;
      p {
        @include margin(null null 0.2rem);
      }
      .yamicons {
        @include margin(null 0.3rem null null);
      }
    }
  }
}

%overlaySection {
  .overlay-view {
    article {
      @include padding(null 1rem);
    }
    .container-scroller-overlay {
      @extend %styleHelp;
    }
  }
}

%fakeTable {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  ul {
    li {
      &.header {
        @include margin(null null 0.5rem);
        border-bottom: $border-base-tab;
        @include themed() {
          border-color: t($key-color-2);
        }
        p {
          @include size(auto, 2.5rem);
        }
      }
      &.hide {
        display: none;
      }
      &.io {
        p {
          color: $primary;
        }
      }
      .col_1 {
        @include size(50%, auto);
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
      .col_2 {
        @include margin(null 1.5rem null);
      }
      .col_2,
      .col_3 {
        @include size(25%, auto);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        &.full {
          @include size(50%, auto);
        }
        p {
          justify-content: flex-end;
          &:last-child {
            @include size(3.5rem, auto);
          }
          span {
            &.yamicons {
              @include margin(null 0.5rem null null);
              &:before {
                color: $gold;
              }
              &.mdi-podium-silver {
                &:before {
                  color: $silver;
                }
              }
              &.mdi-podium-bronze {
                &:before {
                  color: $bronze;
                }
              }
            }
          }
        }
      }
      .col_3 {
        p {
          min-width: 5rem;
          span {
            &:not(.yamicons) {
              text-align: right;
              min-width: 3rem;
            }
          }
        }
      }
      p {
        @include size(auto, 1.7rem);
        display: flex;
        align-items: center;
      }
      &.empty-state {
        @include size(100%, 9rem);
        border-bottom: 0;
        flex-flow: column;
        p {
          justify-content: center;
        }
      }
    }
  }
}
