%h1 {
  @include font-size(26px, 1);
  @include margin(0);
  font-family: $font-family-special;
  font-weight: $normal;
  margin-block: 0;
}

%h2 {
  @include font-size(16px, 1);
  font-weight: $medium;
  margin-block: 0;
}

%h3 {
  @include font-size(14px, 1);
  margin-block: 0;
}

%h4 {
  @include font-size(12px, 1);
  font-weight: $semi-bold;
  margin-block: 0;
}

%h5 {
  @include font-size(12px, 1);
  margin-block: 0;
}

%p {
  @include font-size(12px, 1);
  margin-block: 0;
}

%small {
  @include font-size(10px, 1);
}

%strong {
  font-weight: $medium;
}

%link {
  @include font-size(12px, 1);
  color: $color-8;
}

%notify {
  @include font-size(9px, 1);
}

%btn {
  @include size(auto, 2.6rem);
  @extend %strong;
  @extend %flex;
  border: $border-base;
  background: $primary;
  border-radius: $rounded-small;
  color: $white;
  min-width: 6rem;
}

%changeTapBck {
  -webkit-tap-highlight-color: rgba(0, 166, 118, 0.1);
}

%flex {
  display: flex;
  align-items: center;
}

%flexCenter {
  justify-content: center;
}

%flexSpaceAround {
  justify-content: space-around;
}

%flexSpaceBetween {
  justify-content: space-between;
}

%styleHelp {
  ul {
    @include margin(null null 1rem);
    &.with-icon {
      li {
        @include margin(null null 0.4rem);
        p {
          @include margin(0);
        }
      }
    }
    li {
      @extend %flex;
      p {
        @include margin(null null 0.2rem);
      }
      .yamicons {
        @include margin(null 0.3rem null null);
      }
    }
  }
}

%overlaySection {
  .overlay-view {
    article {
      @include padding(null 1rem);
    }
    .container-scroller-overlay {
      @extend %styleHelp;
    }
  }
}
