$key-color-0: 'color-0';
$key-color-1: 'color-1';
$key-color-2: 'color-2';
$key-color-3: 'color-3';
$key-color-4: 'color-4';
$key-color-5: 'color-5';
$key-color-6: 'color-6';
$key-color-7: 'color-7';
$key-color-8: 'color-8';
$key-color-9: 'color-9';
