h1 {
  @extend %h1;
  @include position(relative, null);
  line-height: 3rem;
  text-align: center;
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h3;
  @extend %flex;
  @include margin(0.9rem null);
  span {
    @include margin(null 0.2rem null null);
  }
}

h4 {
  @extend %h4;
  @include margin(1rem null);
}

h5 {
  @extend %h5;
  text-align: center;
  line-height: 1.5;
}

p {
  @extend %p;
  &.selected {
    @include themed() {
      color: t($key-color-custom-1);
    }
  }
  &.small {
    @extend %small;
  }
  &.medium {
    @extend %medium;
  }
  &.red {
    color: $error;
  }
}

strong {
  font-weight: $semi-bold;
}

i {
  font-style: italic;
}

a {
  @extend %link;
}

.green {
  @include themed() {
    color: t($key-color-custom-1);
  }
}
