$white: #FFF;

$color-1: #F8F9FA;
$color-2: #E9ECEF;
$color-3: #DEE2E6;
$color-4: #CED4DA;
$color-5: #ADB5BD;
$color-6: #6C757D;
$color-7: #495057;
$color-8: #343A40;
$color-9: #212529;

$primary: #00A676;
$error: #DF1A1A;
$warning: #FFBE0B;

$error-bck: #FBE8E8;
$warning-bck: #FFF7E5;
$success-bck: #E5F6F1;

$alternative-1: #15BDFF;
$alternative-2: #FB8600;
$alternative-3: #D10EE9;
$alternative-4: #7046FF;

$font-family: 'Nunito', sans-serif;
$font-family-special: 'Pacifico', cursive;
$base-font-size: 14px; // Serve per la mixin
$normal: 300;
$medium: 400;
$semi-bold: 600;

$font-icons-size: 1.5rem;
$font-icons-size-small: 1.1rem;
$font-icons-size-medium: 2rem;

$rounded-small: 0.3rem;
$rounded: 0.8rem;

$btn-shadow: 0 0.25rem 0.7rem rgba($color-3, .1);
$cube-shadow: 0 0 2.3rem rgba($color-3, .14);
$dice-shadow: inset 0 0 1rem $color-5;

$bck-overlay: rgba($color-8, .5);
$shadow-overlay: 0 1rem 3rem rgba($color-2, .5);
$shadow-overlay-revert: 0 -1rem 3rem rgba($color-2, .5);

$border-base: 0.08rem solid $color-2;
$border-base-tab: 0.15rem solid $color-2;
$border-base-tab-active: 0.15rem solid $primary;
