$white: #FFF;

$color-1: #F8F9FA;
$color-2: #E9ECEF;
$color-3: #DEE2E6;
$color-4: #CED4DA;
$color-5: #ADB5BD;
$color-6: #6C757D;
$color-7: #495057;
$color-8: #343A40;
$color-9: #212529;

$primary: #00A676;
$error: #DF1A1A;
$warning: #FFBE0B;

$error-bck: #FBE8E8;
$warning-bck: #FFF7E5;
$success-bck: #E5F6F1;

$alternative-1: #15BDFF;
$alternative-2: #FB8600;
$alternative-3: #D10EE9;
$alternative-4: #7046FF;

$font-family: 'Nunito', sans-serif;
$font-family-special: 'Pacifico', cursive;
$base-font-size: 14px;
// $light: 300;
$normal: 300;
$medium: 400;
$semi-bold: 600;
// $bold: 700;

$font-icons-size: 26px;
$font-icons-size-small: 18px;

$btn-shadow: 0 4px 10px rgba($color-3, .1);
$cube-shadow: 0 0 35px rgba($color-3, .14);
$dice-shadow: inset 0 0 15px $color-5;

$bck-overlay: rgba($color-2, .2);
$shadow-overlay: 0 15px 45px rgba($color-2, .5);
$shadow-overlay-revert: 0 -15px 45px rgba($color-2, .5);

$border-base: 1px solid $color-2;
$border-base-active: 2px solid $primary;
