#{$all-buttons} {
  @include padding(null 0.7rem);
  @extend %btn;
  @extend %p;
  @extend %flexCenter;
  cursor: pointer;
  &:disabled {
    background: $color-4;
    border-color: $color-4;
    cursor: default;
  }
  &.full {
    @include size(100%, 2.6rem);
  }
  &.small {
    @include size(auto, 2.2rem);
    min-width: 5rem;
  }
  &.big {
    min-width: 10rem;
  }
  &.red {
    background: $error;
    border-color: $error;
  }
  &.grey {
    @include themed() {
      background: t($key-color-nav);
      border-color: t($key-color-nav);
    }
  }
  &.grey-light {
    @include themed() {
      background: t($key-color-7);
      border-color: t($key-color-7);
    }
  }
  &.white {
    box-sizing: border-box;
    border-color: $color-8;
    background: $white;
    color: $color-8;
    &:hover {
      background: $color-1;
    }
  }
  &.sendMode {
    @include position(relative, null);
    @include padding(0.2rem);
    @include size(2.5rem);
    min-width: auto;
    border-radius: $rounded-all;
    .yamicons {
      &:before {
        color: $white;
      }
    }
  }
}
