#{$all-buttons} {
  @include padding(null 0.7rem);
  @extend %btn;
  @extend %p;
  @extend %flexCenter;
  &:disabled {
    background: $color-4;
    border-color: $color-4;
  }
  &.full {
    @include size(100%, 2.6rem);
  }
  &.small {
    @include size(auto, 2.2rem);
    min-width: 5rem;
  }
  &.red {
    background: $error;
    border-color: $error;
  }
  &.grey {
    @include themed() {
      background: t($key-color-nav);
      border-color: t($key-color-nav);
    }
    // background: $color-8;
    // border-color: $color-8;
  }
  &.white {
    box-sizing: border-box;
    border-color: $color-8;
    background: $white;
    color: $color-8;
    &:hover {
      background: $color-1;
    }
  }
  &.white {
    box-sizing: border-box;
    border-color: $color-8;
    background: $white;
    color: $color-8;
    &:hover {
      background: $color-1;
    }
  }
}
