#{$all-buttons} {
  @include padding(null 0.7rem);
  @extend %btn;
  @extend %p;
  @extend %flexCenter;
  &:disabled {
    background: $color-4;
  }
  &.full {
    @include size(100%, 2.6rem);
  }
  &.small {
    @include size(auto, 2.2rem);
    min-width: 5rem;
  }
  &.red {
    background: $error;
  }
}
