#{$all-text-inputs} {
  @include padding(0);
  @include size(100%, 1.5rem);
  @extend %p;
  outline: none;
  box-shadow: none;
  box-sizing: border-box;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  // border-bottom: 0.15rem solid $color-3;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  background: transparent;
  font-family: $font-family;
  font-weight: $normal;
  -moz-appearance:none;
  outline: 0 none transparent;
  @include themed() {
    color: t($key-color-6);
    border-bottom: 0.15rem solid t($key-color-3);
  }
  &::-webkit-input-placeholder {
    @include padding(null null null 1.3rem);
    // color: $color-6;
    @include themed() {
      color: t($key-color-6);
    }
  }
  &.big {
    @include size(100%, 2.5rem);
  }
}

.textinput, .textarea {
  @include position(relative, null);
  @include margin(null null 1rem null);
  &:after {
    @include position(absolute, null null 0 0);
    content: '';
    display: block;
    background: $primary;
    transition: all 0.3s;
  }
  &.focus {
    .yamicons {
      &:before {
        color: $primary
      }
    }
    &:after {
      width: 100%;
    }
  }
}

.textinput {
  .yamicons {
    @include position(absolute, 0.6rem null null null);
  }
  &:after {
    @include size(0, 0.1rem);
  }
}

.textarea {
  .yamicons {
    @include position(absolute, -0.1rem null null null);
  }
  &:after {
    @include size(0, 0.15rem);
  }
  textarea {
    resize: none;
    @include size(100%, 4.5rem);
  }
}
