.radio {
  @extend %p;
  @include margin(null 0.7rem null null);
  display: grid;
  place-items: center;
  grid-template-columns: min-content auto;
}

.radio__label {
  @include margin(null null null 0.3rem);
  line-height: 1;
  transition: 180ms all ease-in-out;
}

.radio__input {
  display: flex;

  input {
    @include size(0);
    opacity: 0;
  }
}

.radio__control {
  display: grid;
  place-items: center;
}

input + .radio__control::before {
  content: ' ';
  @include margin(0.15rem null null 0.15rem);
  @include size(0.5rem);
  display: block;
  border-radius: 50%;
  transition: 180ms transform ease-in-out;
  transform: scale(0);
  background: $color-3;
}

input:checked + .radio__control::before {
  transform: scale(1);
  background: $primary;
}

input + .radio__control {
  @include size(0.8rem);
  display: block;
  border-radius: 50%;
  border: 0.15rem solid $color-3;
  transform: translateY(-0.05em);
}

input:checked + .radio__control {
  border: 0.15rem solid $primary;
}
