/* Effetto pagina benvenuto */
.preview-enter-active, .preview-leave-active {
  transition: opacity 1s;
}

.preview-enter, .preview-leave-active {
  opacity: 0;
}

/* Effetto overlay */
.overlay-enter-active, .overlay-leave-active {
  opacity: 1;
}

.overlay-enter, .overlay-leave-to {
  opacity: 0;
}


.slide-bottom-enter-active,
.slide-bottom-leave-active {
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}
.slide-bottom-enter,
.slide-bottom-leave-to {
  opacity: 0;
  transform: translate3d(0, 15px, 0);
}